<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287112767868-2oqgmgbn05duq6ar185nddvi5p7q8k4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287112767868-2oqgmgbn05duq6ar185nddvi5p7q8k4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBjTS9qoa70tjxIVxkoUd4xgnuZBU_bu9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>287112767868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.home.TestWeather</string>
	<key>PROJECT_ID</key>
	<string>test-ganalitics</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ganalitics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287112767868:ios:9f5216e2e5996969229cf9</string>
	<key>DATABASE_URL</key>
	<string>https://test-ganalitics.firebaseio.com</string>
</dict>
</plist>